<h1style="text-align:center;">ABOUT</h1>
<p style="text-align:center;">Présentation du group <a href="http://localhost:3000/about/group">là</a>
<br>
et de "us" <a href="http://localhost:3000/about/us">ici</a></p>
