<h1 style="text-align:center;">PAGEGROUP</h1>
<p style="text-align:center;"> Je suis ton père ! stsstsst<br><br><br><br>
Super team composée de : <br><br>
Aude (Directrice marketing Stagiaire)<br>
Arthus (Expert en chaussettes stylées ! Oui, vraiment)<br>
Alex (Jedi, roi de la multiprise)<br>
Jordane (qui mange des gâteaux genre tout le temps)<br>
</p>
